.css-1p05t8e.epcbefy1 {
    border: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.css-10trblm.e16nr0p30 {
    padding: 0px 20px;
}

.row-widget.css-k008qs.epcbefy2 {
    margin-top: 30px;
    text-align: center;
}

.css-1ehzy7p.edgvbvh5 {
    width: 150px;
}

p {
    font-size: 4vh;
    padding: 0 20px;
}

.css-1n76uvr.e1tzin5v0 {
    top: -50px;
}