.css-1p05t8e.epcbefy1 {
    border: 0px;
}

.css-1fv8s86.e16nr0p34 {
    padding: 0px 10px;
    text-align: center;
}

.row-widget.css-k008qs.epcbefy2 {
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}